
@{
    ViewData["Title"] = "操作失败";
    var message = (string)ViewData["message"];
    var url1 = (string)ViewData["url1"];
    var url2 = (string)ViewData["url2"];
}
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">操作失败</h2>
        @if (message != "")
        {
            <p class="weui-msg__desc">@message </p>
        }
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">   
            @if (url1 != "")
            {
                <a href="@url1" class="weui-btn weui-btn_primary">@ViewData["name1"]</a>
            }
            @if (url2 !="")
            {
                <a href="@url2" class="weui-btn weui-btn_default">@ViewData["name2"]</a>
            }
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">三江学院阿尔法工作室</a>
            </p>
            <p class="weui-footer__text">Copyright © 2017-2018 mt.tip</p>
        </div>
    </div>
</div>