
@{
    ViewData["Title"] = "招新导航";
}
<div class="row">
    <div class="col-sm-4">
        <div class="jumbotron">
            <h2>第一步</h2>
            <p>招纳新成员的第一步，发布招新信息，同学填写招新表单。</p>
            <p><a class="btn btn-primary btn-lg" href="/User/Recruit" role="button">查看申请列表</a></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron">
            <h2>第二步</h2>
            <p>对同学的加入申请进行初步审核，并为通过审核的同学发送面试信息。</p>
            <p><a class="btn btn-primary btn-lg" href="/User/ShenHe" role="button">前往审核</a></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="jumbotron">
            <h2>第三步</h2>
            <p>将通过审核并面试通过的同学转为正式的工作室成员。</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">前往设置转正</a></p>
        </div>
    </div>
</div>
